<%- include('partials/header') %>

<div class="container mt-5">
 <center> <h1>Cashier page</h1></center>
  <h1>Add fine Amount</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /login route -->
          <form action="/fine" method="POST">
            
            <div class="form-group">
              <label for="text">Register number</label>
              <input type="text" class="form-control" name="reg">
            </div>
            <div class="form-group">
              <label for="text">Type of fine</label>
              <input type="text" class="form-control" name="fine">
            </div>
            <div class="form-group">
              <label for="password">amount</label>
             
    <select  name="amount">
     <option value=10>10</option>
  <option value=15>15</option>
  <option value=50>50</option>
</select>
            </div>
            <button type="submit" class="btn btn-dark">Login</button>
          </form>

        </div>
      </div>
    </div>

    <!-- <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign In with Google
          </a>
        </div>
      </div>
    </div> -->

  </div>
</div>

<%- include('partials/footer') %>
