<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <!-- <i class="fas fa-key fa-6x"></i> -->
    <h1 class="display-3"> Fine Management system</h1>
    <!-- <p class="lead">Don't keep your secrets, share them anonymously!</p> -->
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a><br><br>
    <a class="btn btn-light btn-lg" href="/cashier" role="button">Chashier Login</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="btn btn-dark btn-lg" href="/cashierregister" role="button">Chashier reg</a>
    

  </div>
</div>

<%- include('partials/footer') %>
